<!-- public/views/productList.html -->
<div>
    <div class="text-center">
        <p> In order to navigate back to this list, use the following URL:</p><a href="{{listURL}}">{{listURL}}</a>
        <br />
    </div>
    <!-- Product List -->
    <div class="col-sm-8 col-sm-offset-2">
         <div>
            <table style="width:100%; table-layout:fixed" class="table table-hover">
            <thead> 
            </thead>
            <tbody>
                <tr data-ng-repeat="product in products">
                    <td><a href="{{product.imagePath}}"><img width="150px" src="{{ product.imagePath}}" alt=""/></a></td>
                    <td>
                        <p><span style="font-weight:bold">Name:</span> {{product.name}}</p>
                        <p><span style="font-weight:bold">Price:</span> {{product.price}}</p>
                        <p><span style="font-weight:bold">Description:</span> {{product.description}}</p>
                    </td>
                    <td>
                        <a href="#/productList/{{ productListID }}" data-ng-click="deleteProduct(product)">delete</a>
                    </td>
                 </tr>
            </tbody>
            </table>
        </div>

        <!-- wrapping the table in .table-responsive will make them scroll horizontolly up to small devices (under 768px).-->
    </div> 
</div>

